// the image container
process.container = 'file://./environment/segmentation-unet.sif'

// So that tensorflow doesn't take the full gpu....
env.TF_FORCE_GPU_ALLOW_GROWTH = 'true'

singularity {
    enabled = true
    envWhitelist = 'CUDA_VISIBLE_DEVICES,PYTHONPATH'
}

executor {
    queueSize = 1
}